.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct_info{
    padding-left: 20px;
}

.checkoutproduct_info>button{
    background: #f0c14b;
    border-color: rgb(218, 175, 96) burlywood rgb(236, 142, 142);
    border:1px solid;
    margin-top: 10px;
    color: black;
    background-color: none;
}
.checkoutproduct_image{
    object-fit:contain;
    width: 180px;
    height: 180px;
}
.checkoutproduct_rating{
    font-size: 17px;
    font-weight: 800;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}
