.checkout{
    display: flex;
    padding: 2opx;
    background-color: white;
    height: max-content;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.checkout_right{
    display: flex;
    position: relative;
    float: right;
    
}